<mat-tab-group>
  <mat-tab label="LIST">
    <div style="display:flex; width: 600px" >
      <mat-selection-list 
        #lquestions="cdkDropList"
        cdkDropList
        [cdkDropListConnectedTo] ="[targetq]"
        [cdkDropListData]="tquestions" 
        (selectionChange)="onQClick(lquestions.selectedOptions.selected)"
        (cdkDropListDropped)="reorderList($event)"
        >
        
          <mat-list-option  cdkDrag
            (cdkDragStarted)="listDrag($event)"
            *ngFor="let q of tquestions"
            [value]='q'
            checkboxPosition='before'
            [ngClass]="liststyle"
            >{{q}}</mat-list-option>
      </mat-selection-list>
      
      <div style="margin-left:50px">
          <mat-selection-list
              #targetq ="cdkDropList"
              cdkDropList 
              (cdkDropListDropped)="copyToTargetList($event)"
              [cdkDropListData]="squestions" 
              class="destList"
          >
            
            <mat-list-option cdkDrag *ngFor="let q of squestions">
                {{q}}
            </mat-list-option>
          </mat-selection-list>
      </div>



</div>
  </mat-tab>
  
  
  
  
  
  
  <mat-tab label="CARDS">
<div style="display:flex;padding:50px">
  <mat-card cdkDropList   
      [cdkDropListConnectedTo] ="[selectedquestions,finalquestions]"
      [cdkDropListData]="tquestions"
      (cdkDropListDropped)="drop($event)"
      #templateQuestions="cdkDropList"
  >
    <h4>TEMPLATE QUESTIONS</h4>
    
    <mat-card class="qtemplate"  *ngFor="let question of tquestions" 
          cdkDrag
          cdkDragPlaceholder

    >
    
      {{question}}
      <mat-radio-group class="mat-radio-group">
        <mat-list-item><mat-radio-button  value="1" class="mat-radio-button">Option 1</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button  value="2" class="mat-radio-button">Option 2</mat-radio-button></mat-list-item>
      </mat-radio-group>
    </mat-card>
    
  </mat-card>

  <mat-card  class="pselected"
    cdkDropList
    #selectedquestions="cdkDropList"
    [cdkDropListData]="squestions" 
    (cdkDropListDropped)="reorderSelected($event)"
    
  >
    <H4>DRAFT QUESTIONS</H4>
    <mat-card cdkDrag
    *ngFor="let q of squestions"
    class="qselected"
    >
      {{q}}
      <mat-radio-group class="mat-radio-group">
          <mat-list-item><mat-radio-button  value="1" class="mat-radio-button">Option 1</mat-radio-button></mat-list-item>
          <mat-list-item><mat-radio-button  value="2" class="mat-radio-button">Option 2</mat-radio-button></mat-list-item>
        </mat-radio-group>
    </mat-card>
  </mat-card>

  <mat-card  class="pselected"
    cdkDropList
    #finalquestions="cdkDropList"
    [cdkDropListData]="fquestions" 
    (cdkDropListDropped)="reorderSelected($event)"
    
  >
    <H4>FINAL QUESTIONS</H4>
    <mat-card cdkDrag
    *ngFor="let q of fquestions"
    class="qselected"
    >
      {{q}}
      <mat-radio-group class="mat-radio-group">
          <mat-list-item><mat-radio-button  value="1" class="mat-radio-button">Option 1</mat-radio-button></mat-list-item>
          <mat-list-item><mat-radio-button  value="2" class="mat-radio-button">Option 2</mat-radio-button></mat-list-item>
        </mat-radio-group>
    </mat-card>
  </mat-card>



</div>


  </mat-tab>
</mat-tab-group>




