.mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

  .mat-radio-button {
    margin: 5px;
  }

}

@mixin question-panel($bgcolor){
    background-color: $bgcolor;
    width: 300px;
    border-color: silver;
    margin-bottom: 5px;
    padding: 5px;

}

//style for the questions in template area
.qtemplate{
    @include question-panel(azure);
}

//style for the questions in selected area
.qselected{
    @include question-panel(coral);
}

.pselected{
    background-color:cornsilk;
    max-height: 520px;
    overflow-y: auto;
}

.cdk-drag-placeholder {
    background: white;
    border: dashed 1px red;
    transition: transform 500ms ease;
}
.cdk-drag-preview{
  background-color:aqua;
}

.listdragstyle{
    background: white;
    border: dashed 1px red;
    transition: transform 500ms ease;
}

.destList{
  border: dashed 1px gray;
  min-height: 230px;
}