.mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

  .mat-radio-button {
    margin: 5px;
  }

}
  
.qtemplate{
    background-color: azure;
    width: 300px;
    border-color: silver;
    margin-bottom: 5px;
    padding: 5px;

}

.qselected{
    background-color: coral;
    width: 300px;
    border-color: silver;
    margin-bottom: 5px;
    padding: 5px;
    
}

.pselected{
    background-color: antiquewhite;
    max-height: 800px;
    overflow-y: auto;
}